<header-comp></header-comp>

<div class="wrapper">
  <h1 class="menuOptions">Lesson Menu</h1>
  <!-- <a class="menu-btn" ng-click="$ctrl.toggleMenu()"></a> -->
  <section class="one" ng-click="$ctrl.goToPage(0)">
    <h1 class="menuOptions">Licenses</h1>
  </section>
  <section class="two" ng-click="$ctrl.goToPage(1)">
    <h1 class="menuOptions">Aircraft</h1>
  </section>
  <section class="three" ng-click="$ctrl.goToPage(2)">
    <h1 class="menuOptions">Manuals</h1>
  </section>
  <!-- <section class="four" ng-click="$ctrl.goToPage(3)">
    <h1 class="menuOptions">Settings</h1>
  </section> -->
</div>
