
<section class="pdfControls" layout="row" layout-align="center center">

  <nav layout="row" layout-align="space-around center" ng-class="getNavStyle(scroll)">
    <button class="pdfBtn" ng-click="goPrevious()"><i class="material-icons">arrow_back</i></button>
    <button class="pdfBtn" ng-click="goNext()"><i class="material-icons">arrow_forward</i></button>

    <button class="pdfBtn" ng-click="zoomIn()"><i class="material-icons">zoom_in</i></button>
    <button class="pdfBtn" ng-click="zoomOut()"><i class="material-icons">zoom_out</i></button>

    <span>Page: </span>
    <md-input-container class="pdfPageInput">
      <input type="text" min="1" ng-model="pageNum">
    </md-input-container>
    <span>/{{pageCount}}</span>

  </nav>

</section>
