<header layout="row">
  <div flex="10">

  </div>
  <div flex="30">
    <h1>Aviators App</h1>
  </div>
  <md-nav-bar flex="60" md-selected-nav-item="currentNavItem">
    <md-nav-item
      ng-if="!$ctrl.isAuthenticated()"
      md-nav-click="$ctrl.login()">
      Sign in
    </md-nav-item>

    <md-nav-item
      ng-if="$ctrl.isAuthenticated()"
      md-nav-click="$ctrl.logout()">
      Sign out
    </md-nav-item>
    <!-- <md-nav-item md-nav-href="#page2" name="page3">Page Two</md-nav-item> -->
    <!-- <md-nav-item md-nav-sref="posts" name="posts">Page Three</md-nav-item> -->
    <!-- <md-nav-item md-nav-sref="app.page4" sref-opts="{reload: true, notify: true}" name="page4">
      Page Four
    </md-nav-item> -->
  </md-nav-bar>
</header>
<hr>
