<header class="header" layout="row" layout-align="center center">

  <div class="logoDiv" flex="20">
    <img class="logo" src="assets/aviatorsicon.png" alt="aviators app logo">
  </div>

  <div class="appNameDiv" flex="60">
    <h1 class="appName">Aviators App</h1>
  </div>
  
  <md-button flex="10" class="signBtn md-primary md-raised"
    ng-if="!$ctrl.auth.isAuthenticated()"
    ng-click="$ctrl.auth.login()">
    <p class="btnText">Sign in</p>
  </md-button>

  <md-button flex="10" class="signBtn md-warn md-raised"
    ng-if="$ctrl.auth.isAuthenticated()"
    ng-click="$ctrl.auth.logout()">
    <p class="btnText">Sign out</p>
  </md-button>

  <div flex="10">

  </div>

</header>
<hr>
