
main {
  margin: 0 15px 0 10px;
  padding-top: 10px;
  /*background-color: rgba(115, 144, 160, 1);*/
  background-image: url('assets/images/sky.jpg');
}

.header{
  height: 15vh;
}

.btnText{
  font-family: 'El Messiri', sans-serif;
  margin-top: .12em;
}

.signBtn{
  height: 2em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appNameDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.appName{
  text-align: center;
  font-family: 'El Messiri', sans-serif;
  margin: 0;
}

.logoDiv{
  max-height: inherit;
  display: flex;
  justify-content: center;
}

.logo {
  object-fit: contain;
  max-width: 150%;
  max-height: 150%;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
